.modal-overlay{background:rgba(0,0,0,0);position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;z-index:100;}
.modal-overlay.active{background:rgba(0,0,0,0.7)}
.modal{color:#000;padding:20px;width:40%;height:40%;position:absolute;top:30%;left:30%;background:#fff;z-index:150;-webkit-transition:all .3s ease;transition:all .3s ease;opacity:0;-webkit-transform-origin:150% 70%;transform-origin:150% 70%;-webkit-transform:rotate(-40deg) skew(10deg,15deg) scale(1,1);transform:rotate(-40deg) skew(10deg,15deg) scale(1,1);}
.modal.active{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}
.modal a{color:#000}
.modal h2{margin-top:0;text-transform:uppercase;font-size:20px;font-weight:500}
.modal .close-modal{position:absolute;top:0;right:0;font-size:22px;padding:20px;cursor:pointer}
.modal hr{height:1px;border:none;background:#ccc;margin-bottom:20px;margin-top:-5px}
.checkbox-group{width:100%;}
.checkbox-group .draggable-handle{position:absolute;height:100%;width:20px;top:0;left:0;font-size:22px;font-family:Times New Roman,serif;line-height:6px;padding:7px 0 0 12px;color:#bbb;text-shadow:0 -1px 1px #fff;box-sizing:border-box}
.checkbox-group label{display:block;padding:10px 10px 10px 70px;background:#f3f3f3;border-bottom:1px solid #ddd;position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:10px 30px 10px 40px;}
.checkbox-group label.sortable-ghost{opacity:.3;border:1px dashed #777}
.checkbox-group label.inactive{opacity:.5}
.checkbox-group label:last-child{border-bottom:none;}
.checkbox-group label:last-child .border-left{padding-bottom:0}
.checkbox-group input[type=radio]{position:absolute;right:5px}
@font-face{font-family:entypo;font-style:normal;font-weight:normal;src:url("../fonts/entypo.woff") format('woff'),url("../fonts/entypo.ttf") format('truetype'),url("../fonts/entypo.svg#font") format('svg')}
.icon-clock{font-family:entypo;font-size:42px;text-align:center;margin-top:37px}
.icon-person{font-family:entypo;font-size:30px}
.icon-arrow-right{font-family:entypo;font-size:30px;display:inline-block;color:#585858;transform:scale(2,1);-webkit-transform:scale(1,2)}
@font-face{font-family:'bebas';src:url("../fonts/BebasNeue-webfont.eot");src:url("../fonts/BebasNeue-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/BebasNeue-webfont.woff") format('woff'),url("../fonts/BebasNeue-webfont.ttf") format('truetype'),url("../fonts/BebasNeue-webfont.svg#bebas_neueregular") format('svg');font-weight:normal;font-style:normal}
.back{margin-top:50px;border:1px solid #fff;border-radius:3px;background:transparent;position:absolute;color:#fff}
.book-now-btn{position:absolute;width:50px;height:50px;left:50%;margin-left:-25px;top:50%;margin-top:-25px;border:1px solid #57616c;border-radius:50%;background:#0d7f7f;}
.book-now-btn:before{content:'';display:block;width:100%;height:100%;background-image:url("../images/icon-plus.svg");background-size:15px;background-position:center center;background-repeat:no-repeat}
.events-list{position:absolute;height:80%;width:40%;right:-40%;top:10%;border:3px solid #0d7f7f;border-radius:5px 0 0 5px;box-sizing:border-box;padding:4px;color:#000;z-index:20}
.events-list-content{height:100%;width:100%;position:absolute}
.events-list-handle{width:30px;height:100%;position:absolute;left:-30px;top:0;margin-top:-25px;}
.events-list-handle:before{content:'';font-family:entypo;color:#fff;display:block;height:50px;width:30px;position:absolute;left:0;top:50%;margin-top:-25px;transform:scale(2,1);-webkit-transform:scale(1,2);line-height:50px;font-size:40px;transition:all .3s ease}
.events-list-handle.is-open:before{transform:scale(2,1) rotate(180deg) translateX(10px);-webkit-transform:scale(1,2) rotate(180deg) translateX(10px)}
.upcoming-events{margin:0;padding:0;width:100%;height:100%;overflow:auto;overflow-y:scroll;-webkit-overflow-scrolling:touch;}
.upcoming-events li{display:block;margin:0;background:#f3f3f3;padding:10px 10px 10px 70px;border-bottom:1px solid #ddd;position:relative;}
.upcoming-events li img{border-radius:0;width:58px;height:58px;left:0;top:0;margin:0}
.upcoming-events li .event-name{font-weight:400;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.upcoming-events li .event-time{display:block}
.upcoming-events li .event-attendees{max-height:0;overflow:hidden}
.upcoming-events li:last-child{border-bottom:none}
.upcoming-events li.open .event-attendees{max-height:none}
.block-header{background:#fff;color:#818c98;height:200px;}
.block-header .block-header__content{width:500px;display:block;margin:0 auto;padding:110px 0 0 0;font-size:24px;font-weight:400}
.calendar-list{width:500px;margin:0 auto;list-style-type:none;padding:0;}
.calendar-list li{margin:0;padding:0;height:100px;line-height:100px;border-bottom:1px solid #d7dadd;text-transform:uppercase;font-size:24px;font-weight:300}
.calendar-list .calendar-list__bullet{float:left;width:25px;height:25px;border-radius:50%;border:3px solid;margin-top:36px;margin-right:10px}
.sign-out{position:absolute;bottom:0;right:0;background:transparent;border:none;padding:10px;color:#818c98;font-family:Raleway;font-weight:300}
body{background:#ececec;position:absolute;height:100%;width:100%;margin:0;font-family:'Raleway';font-weight:100;color:#57616c}
a{color:#57616c}
h1{font-weight:500;text-transform:uppercase;font-size:68px;text-align:center;margin-top:24px}
img{width:110px;height:110px;border-radius:50%;position:absolute;z-index:10;left:50%;margin-left:-55px;margin-top:-45px}
.time-remaining{font-size:51px;text-align:center;margin-top:-3px}
.polar-clock-container{position:absolute;width:100%;height:50%;bottom:0;padding:0 50px 40px 50px;box-sizing:border-box}
.room-status-text{position:absolute;left:0;font-size:43px;text-align:center;width:100%;bottom:250px}
.polar-clock{width:100%;height:100%}
#OcupadoApp *{box-sizing:border-box}
#OcupadoApp .rooms-container{position:absolute;width:100%;height:100%;overflow:hidden;color:#0a3d33}
#OcupadoApp .room-container{display:-webkit-box;display:-webkit-flex;display:flex;height:100%;-webkit-box-pack:justify;align-items:stretch;overflow:hidden;position:absolute;width:100%;height:100%}
#OcupadoApp section{width:0;box-flex:1;-webkit-box-flex:1;-webkit-flex:1;flex:1;position:relative;border-left:1px solid #000;}
#OcupadoApp section:first-child{border-left:none}
.occupied{background:#ffba00;background:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#ffba00),color-stop(80%,#f46030));background:linear-gradient(to bottom,#ffba00 20%,#f46030 80%);color:#fff;}
.occupied .creator-name{font-size:18px;text-align:center;font-weight:400}
.occupied .room-status-text{color:#fff}
.upcoming{background:#286f6f;background:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#286f6f),color-stop(80%,#1b4c4b));background:linear-gradient(to bottom,#286f6f 20%,#1b4c4b 80%);color:#fff;}
.upcoming .up-next{text-align:center;font-size:18px}
.vacant{background:#79ffb2;background:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#79ffb2),color-stop(80%,#9ee7d8));background:linear-gradient(to bottom,#79ffb2 20%,#9ee7d8 80%);}
#authorizeButton{background:#3d3d3d;color:#d5b430;border:none;border-radius:5px;padding:10px 20px;position:absolute;top:50%;margin-top:-35px;left:50%;margin-left:-105px;font-size:42px;font-family:'Raleway';font-weight:100}
.clickThrough{pointer-events:none}
