gradient(color1, color2)
  background: color1
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, color1), color-stop(80%, color2)); /* Chrome,Safari4+ */
  background: linear-gradient(to bottom, color1 20%, color2 80%); /* W3C */

